.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	background-color: #003049;
	color: #eae2b7;
	width: 100%;
}

.title {
	padding-left: 1.2em;
	padding-right: 1.2em;
}

.navigation {
	display: flex;
	gap: 5em;
	margin-left: auto;
	padding-right: 5em;
	color: #eae2b7;
	font-size: 1.2em;
}

.navButton {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	color: #fcbf49;
	text-decoration: none;
	transition: color 0.5s;
	text-align: center;
	align-items: center;
}

.navButton:hover {
	color: #f77f00;
}

.checkoutButton {
	flex-grow: 0;
	color: #d62828;
	background-color: #003049;
	border: none;
	font-size: 1.5em;
}

.checkoutSection {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2.2em;
}
